#!/bin/bash

set -e

sudo -u ec2-user -i <<'EOF'

# Install nodejs
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash
. ~/.nvm/nvm.sh
nvm install 16
node -e "console.log('Running Node.js ' + process.version)"

## Install PIP deps on all jupyter envs
env_name=python3
source /home/ec2-user/anaconda3/bin/activate $env_name

pip3 install --upgrade pip
pip3 install xarray[complete]
pip3 install distributed==2022.10.0 dask==2022.10.0 lz4==4.0.0 numpy==1.23.3 pandas==1.5.0
pip3 install cloudpickle msgpack toolz --upgrade
pip3 install git+https://github.com/gjoseph92/dask-worker-pools.git@main
pip3 install boto3 botocore opensearch-py requests requests-aws4auth ipympl nodejs npm intake-esm --upgrade
jupyter labextension install @jupyter-widgets/jupyterlab-manager
jupyter lab build

source /home/ec2-user/anaconda3/bin/deactivate

## Install jupyter-widgets in JupyterSystemEnv
env_name1=JupyterSystemEnv
source /home/ec2-user/anaconda3/bin/activate $env_name1
jupyter labextension install @jupyter-widgets/jupyterlab-manager
jupyter lab build
source /home/ec2-user/anaconda3/bin/deactivate

EOF
